@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

.brandName li{
  list-style-type: none;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 1.3rem;
}
h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}
.section-m1 {
  margin: 40px 0;
}
button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 18px 30px 15px 30px;
  color: #000;
  background: #fff;
  border-radius: 4px;
  outline: none;
  border: none;
  transition: 0.2s;
  cursor: pointer;
}
button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 13px 18px 11px 18px;
  color: #fff;
  background: transparent;
  border-radius: 0;
  outline: none;

  transition: 0.2s;
  border: 1px solid white;
}
body {
  width: 100%;
  background-color: #fffcff;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 80px 12px 80px;
  background: #FFFAF0;
  opacity: 75%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
#navbar li {
  padding: 0 20px;
  position: relative;
}
#navbar li a {
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
  color: #D2691E;
}
#mobile {
  display: none;
}
#close {
  display: none;
}
.overlay {
  background: #D2691E;
  opacity: 25%;
  height: 100%;
  width: 50%;
  position: absolute;
}
#hero {
  position: relative;
  background-image: url("../img/20.jpg");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 50% right 50%;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#hero h1 {
  color: #fff;
  position: relative;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 700;
}
#hero h2 {
  color: #fff;
  position: relative;
    font-size: 20px;
}

.wearYrD::after {
  content: '';
  width: 50px;
  height: 2px;
  background: #fff;
  top: 50%;
  left: 105%;
  position: absolute;
  
}
.wearYrD::before {
  content: '';
  width: 50px;
  height: 2px;
  background: #fff;
  top: 50%;
  right: 105%;
  position: absolute;
}
.trend-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.trend-1 {
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
  font-size: 90px;
  color: rgba(0, 0, 0, 0.09);
  padding: 20px;

}

.trend-2 {
  position: absolute;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 0.3rem;
}
.clear{clear: both;}

#product1 {
  text-align: center;
}
#product1 .pro {
  width: 23%;
  border: 1px solid #cce7d0;
  border-radius: 20px;
  min-width: 250px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  transition: 0.3s ease;
  position: relative;
  background: #fefcfe;
  overflow: hidden;
  float:right;
  margin: 30px 9px;
}

.pro img {
  width: 100%;
  height: 50vh;
  transition: all 1s;
  cursor: pointer;
}
#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.08);
}
#product1 .pro img:hover {
  transform: scalex(1.1)

}
#product1 .pro .des {
  text-align: start;
  padding: 10px;
}
#product1 .pro .des span {
  font-size: 12px;
  color: #606063;
}
#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#product1 .pro .des h4 {
  padding-top: 7px;
  color: #D2691E;
  font-size: 15px;
  font-weight: 700;
}

#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #FFFAF0;
  color: #D2691E;
  border: 1px solid #fff;
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  text-align: center;
}
#product1 .pro .cart:hover{
  border: 1px solid #D2691E;
}
.bg-color {
  background-color:rgba(0, 0, 0, 0.09); ;
}
.mainSec {
  display: flex;
  font-family: 'Roboto Condensed', sans-serif;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  height: 100%;
}
.imgCov{
  width: 35%;
  height: 652px;
  display: flex;
  justify-content: center;
  background-image: url("../Img/cover-2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.carousel {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 35%;
  align-items: center;
  justify-content: center;
}

.carousel h1{
  font-size: 75px;
}

.carousel p{
  font-weight: 500;
}

#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../img/t-b8.jpg");
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: center;
}
#banner h4 {
  color: #000;
  font-size: 16px;
}

#banner h2 {
  color: #fff;
  font-size: 30px;
  padding: 10px 0px;
}
#banner h2 span {
  color: #D2691E;
}
#banner button:hover {
  background: #D2691E;
  color: #fff;
}
#banner-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 80px;
}

#banner-3 .banner-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-image: url("../img/b3.jpg");
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}
#banner-3 .banner-box h2 {
  color: #D2691E;
  font-weight: 900;
  font-size: 22px;
}
#banner-3 .banner-box h3 {
  color: white;
  font-weight: 900;
  font-size: 15px;
}

#banner-3 .banner-box-2 {
  background-image: url("../img/b2.jpg");
}
#banner-3 .banner-box-3 {
  background-image: url("../img/b1.jpg");
}

#newsletter {
  display: block;
  align-items: center;
  background-color: #FFFAF0;
  background-repeat: no-repeat;
  background-position: 20% 30%;
}
#newsletter input {
  height: 3.125rem;
  padding: 0.25em 1.25em 0em 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid 000;
  border-radius: 4px 0px 0px 4px;
  outline: none;
}
#newsletter button {
  background-color: #000;
  color: white;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 0px 4px 4px 0px;
  padding: 0.25em 1.25em 0em 1.25em;
}
#newsletter .form {
  display: flex;
  width: 40%;
}
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  
}

footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
  color:#D2691E;
}
footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}
footer a {
  text-decoration: none;
  font-size: 13px;
  color: #222;
  margin-bottom: 10px;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #000;
  padding-right: 3px;
  cursor: pointer;
  font-size: 30px;
}
footer .follow i:hover,
footer a:hover {
  color: #D2691E;
}

/* Shop Page */

#sm-banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-image: url("../img/b16.jpg");
  min-width: 580px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}
#sm-banner .banner-box-2 {
  background-image: url("../img/b17.jpg");
}
#sm-banner h2 {
  color: #fff;
  font-size: 30px;
  font-weight: 800;
}
#sm-banner span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}
#filter-li-container{
  padding: 25px 80px 0px 80px;
}
#filter-li-container .filter-li{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

}
#filter-li-container .filter-li li{
  padding: 10px 15px;
  background-color:#000;
  color: white;
  list-style: none;
  cursor: pointer;
}
#filter-li-container .filter-li li:hover{
  background-color:#D2691E;
  transition: 0.4s;
}

/* checkout page */

#contact-details {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

#contact-details .details {
  width: 40%;
}
#contact-details .details h2,
#form-details form h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}

#form-details {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 80px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  align-items: center;
  gap:15px;
}

#form-details form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#form-details form input,
#form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}

#form-details form button {
  color: white;
  background-color: #000;
}

#form-details form textarea {
  max-width: 100%;
  min-width: 100%;
}
/* cart page */
#page-header {
  background-image: url("../img/b4.png");
  background-position: center;
}

#page-header h2{
  color: #D2691E;
  text-align: center;
  margin: 1rem;
}
#cart {
  overflow-x: auto;
}

#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;

}
#cart table img {
  width: 75px;
}
#cart table td:nth-child(1) {
  width: 100px;
  text-align: center;
}

#cart table td:nth-child(2) {
  width: 150px;
  text-align: center;
}
#cart table td:nth-child(3) {
  width: 250px;
  text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(5) input {
  width: 70px;
  padding: 13px 5px 10px 15px;
  outline: none;
}
#cart table thead {
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}
#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0;
}
#cart table tbody tr td {
  padding-top: 15px;
}
#cart table tbody td {
  padding-top: 15px;
  font-size: 13px;
}
.fa-times-circle{
  cursor: pointer;
}
.cart-row button{
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 10px 20px 10px 20px;

}
#cart-add {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


#coupon {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin-bottom: 30px;
  flex-direction: column;
}
#coupon h3 {
  padding-bottom: 15px;
}

#coupon input {
  padding: 13px 20px 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #e2e9e1;
}
#coupon button {
  background-color: #D2691E;
  color: white;
  padding: 13px 20px 10px 20px;
}

#subtotal {
  width: 50%;
  margin-bottom: 30px;
  padding: 30px;
  background-color: #FFFAF0;;
}
#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}
#subtotal table td {
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 13px 10px 10px 10px;
  font-size: 13px;
}
#subtotal h3 {
  padding-bottom: 15px;
}

#subtotal button {
  background-color: #D2691E;
  color: white;
  padding: 13px 20px 10px 20px;
}

/* dashboard */
.navDash{
  font-size:24px;
  line-height:80px;
  padding-left:30px;
  letter-spacing: 0.3rem;
  background:#23292e;
  color:#FAFFFF;
  height:80px;
  position:fixed;
  top:0;
  width:100%;
}
.navDash a{
  color: #FFFAF0;
  text-decoration: none;
}
.userDash{
  background:#23292E;
  height:100vh;
  position:fixed;
  top:80px;
  left:0;
  width:200px;
  transition:.7s linear;
  z-index: 99;
}
.userInfo{
  padding:40px 2% 30px 2%;
  text-align:center;
}
.userImg{
  border-radius:100%
}
.userName{
  color:white;
  font-size: 1rem;
  margin:10px auto;
}
.userControl li{
  z-index: 999;
  border-bottom:1px solid #211e1e;
  color:white;
  cursor: pointer;
  font-size:14px;
  font-weight: 500;
  line-height:40px;
  height:40px;  
  padding:0 15px;
  transition:.4s linear;
}
.userControl li:hover{
  background:#211e1e;
  color:#FFFAF0;
  transition:.4s linear;
}
.userControl ul #dashTitle{
  background:#D2691E;
  border-top:1px solid #FFFAF0;
  border-bottom:1px solid #FFFAF0;
  color:#FAFFFF;
  font-size:13px;
  letter-spacing:1px;
  line-height:30px;
  height:40px;  
  padding:4px;
  text-align:center;
}
#exit{
  background:#D2691E;
  color:#FAFFFF;
  font-size:17px;
  padding:10px;
}
#exit:hover{
  background:#FAFFFF;
  color:#000;
}

.dashContainer{
  padding:70px ;
  margin-top:20px ;
  margin-left:200px;
}

.dashContainer h2{
  color:#D2691E;
  font-size:18px;
}
.dashUser {
  display: none;
}

.show {
  display: block;
}
.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #e8e5e8;
  color: #000;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}





/* media query */

@media (max-width: 800px) {
  .section-p1 {
    padding: 40px 40px;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100%;
    width: 300px;
    background-color: #FFFAF0;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: 0.3s;
  }
  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 25px;
  }
  .brandName li {
    color: #D2691E;

  }
  #mobile {
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
  }
  #mobile i {
    font-size: 24px;
    color: #1a1a1a;
    padding-left: 20px;
  }
  #mobile i:hover {
    color: #D2691E;
  }

  #close {
    display: inline;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
    cursor: pointer;
  }
  #lg-bag {
    display: none;
  }
  #hero {
    height: 70vh;
    background-position: top 30% right 30%;
    padding: 0 80px;
  }

  #product1 .pro-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  #product1 .pro {
    margin: 10px;
  }
  .mainSec {
    display: flex;
    font-family: 'Roboto Condensed', sans-serif;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
  }
  .imgCov{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: url("../Img/cover-2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .carousel {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 35%;
    align-items: center;
    justify-content: center;
  }
  
  .carousel h1{
    font-size: 15px;
  }
  
  .carousel p{
    font-size: 10px;
    height: 100%;
    margin: auto;
  }
  #banner {
    height: 20vh;
  }
  .bg-color{
    min-width: 100%;
    height: 30vh;
  }
  #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
  }
  #banner-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 40px;
  }
  #banner-3 .banner-box {
    width: 28%;
  }
  #newsletter .form {
    display: flex;
    width: 70%;
  }

}

/* small screen*/

@media (max-width: 650px) {
  .section-p1 {
    padding: 20px;
  }
  #header {
    padding: 10px 30px;
  }
  #hero {
    padding: 0 20px;
    background-position: 55%;
  }
  h2 {
    font-size: 32px;
    line-height: 54px;
    color: #222;
  }
  h1 {
    font-size: 38px;
    line-height: 64px;
    color: #222;
  }
  #product1 .pro {
    width: 100%;
  }
  #banner {
    height: 40vh;
  }
  #banner h2 {
    color: #fff;
    font-size: 25px;
    justify-self: center;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }
  #sm-banner .banner-box {
    height: 40vh;
  }
  #sm-banner .banner-box-2 {
    margin-top: 20px;
  }
  #banner-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
  }
  #banner-3 .banner-box {
    width: 100%;
  }

  #newsletter .form {
    display: flex;
    width: 100%;
  }
  #newsletter {
    padding: 40px 20px;
  }

  /* shopping */
  #filter-buttons-container {
    padding: 25px 40px 0px 40px;
  }
  /* cart page */
  #cart-add {
    flex-direction: column;
  }
  #subtotal {
    width: 100%;

    padding: 20px;
  }
  #coupon {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media (min-width: 800px) and (max-width: 1350px) {
  #sm-banner .banner-box {
    width: 100%;
  }
  #sm-banner .banner-box-2 {
    margin-top: 30px;
  }
  #banner-3 .banner-box-1 {
    width: 100%;
  }

  #form-details form {
    width: 50%;
  }
}
